body {
    font-family: 'Poppins', sans-serif;

}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000; /* Keeps it above videos and other content */
  /* background-color: rgba(0, 0, 0, 0.5);  */
  backdrop-filter: blur(5px); /* nice glass effect */
}


.nav {
    gap: 40px;
}
/* button {
    color: white;
    border: 1px solid white;
    padding: 12px;
    margin-right: 20px;
} */
.head-section {
    /* background-color: white; */
    margin-top: 20px;
    /* border: 1px solid white; */
}
.where p {
    font-size: 24px;
}
.exp p {
    font-size: 24px;
}